
* {
    margin: 0;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color:#ffffff;
}

h1 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

h2 {
    color: #4B2E2E;
}

h3 {
    color: #7B3F00;
}

p {
    font-size: small;
    color: #3F3F3F;
}

footer {
    background-color:#150e61;
    text-align: left;
    padding: 10px;
    margin-top: 30px;
}

.caja_1 {
  height: 80px;
  width: 100%;
  background-color:#150e61;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px
}

/* GRILLA DE 12 COLUMNAS */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin-top: 60px;
    padding: 16px;
}

/* MAIN ocupa 9 columnas */
main {
    grid-column: span 9;
    display: block;
    width: 100%;
}

/* ASIDE ocupa 3 columnas */
aside {
    grid-column: span 3;
    background-color:#ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.caja_2,
.caja_4,
.caja_5,
.caja_6,
.caja_7 {
    background-color: #e3edff;
    padding: 10px;
    color: rgb(0, 0, 0);
    width: 100%;
    margin-bottom: 16px;
    border-radius: 15px;
}

/* Estilo de los enlaces dentro de las cajas */
.caja_4 a,
.caja_5 a,
.caja_6 a,
.caja_7 a {
  text-decoration: none;  /* Quita el subrayado */
  color: #333e9f;     /* Color base del texto */
  font-weight: bold;       /* Para que se vea más definido */
}

/* Estilo al pasar el mouse por los enlaces */
.caja_4 a:hover,
.caja_5 a:hover,
.caja_6 a:hover,
.caja_7 a:hover {
  color: #8b8bff; /* Color al pasar el mouse */
}

.caja_2 {
    background-color: #c1d7ff;
    color: rgb(255, 255, 255);
}

/* CAJA DEL ASIDE */
.caja_8 {
    background-color: #d4d4d4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    height: 50px;       
    width: auto;
    object-fit: contain;
    margin-left: 10px;  
    margin-top: 10px;   
}

.caja_movs {
  height: 70px;
  width: 100%;
  background-color:#150e61;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* espacio a los costados */
}

h6 {
    font-size: x-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caja_1 a {
  text-decoration: none; /* Quita el subrayado */
  color: #e3edff;          /* Cambia el color del texto a blanco */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

.caja_1 a:hover {
  color: #9999e3; /* Color al pasar el mouse */
}

.contenedormovs {
    margin-top: 30px;
}

h5 {
    color: white;
}

h7 {
    color: rgb(0, 0, 0);
    font-size: x-large;
    padding-top: 20px;
    font-weight: bold;
}

.caja_1 a:hover {
  color: #9999e3; /* Color al pasar el mouse */
}

.contenedorlinea {
    margin-top: 30px;
}

.caja_9,
.caja_10,
.caja_11,
.caja_12,
.caja_13,
.caja_14 {
    display: flex;
    position: relative;
}


.seccion_tecnicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section_1 {
    margin-top: 40px;
}

.tec1, .tec2, .tec3 {
  border-radius: 25px;
}

.img1, 
.img2, 
.img3, 
.img4, 
.img5, 
.img6, 
.img7, 
.img8, 
.img9, 
.img10, 
.img11, 
.img12 {
    border-radius: 15px;
}

.imgprincipal {
    border-radius: 15px;
}

.caja_tecs {
    display: flex;
    gap: 20px;
}

.contenido_tecs {
    padding-top: 30px;
    justify-items: auto;
    max-width: 850px;
}

.contenido_tecs h3 {
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #150e61;
  margin-bottom: 15px; /* Espacio entre el título y el párrafo */
}

.contenido_tecs p {
    font-size: medium;
}

.caja_artistas {
    display: flex;
    gap: 20px;
}

.contenido_artistas {
    padding-top: 30px;
    justify-items: auto;
    max-width: 800px;
}

.contenido_artistas h3 {
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #150e61;
  margin-bottom: 15px; /* Espacio entre el título y el párrafo */
}

.contenido_artistas ul {
    font-size: medium;
}

.art1,
.art2,
.art3,
.art4,
.art5,
.art6 {
    border-radius: 25px;
}

.caja_caracteristicas {
    display: flex;
    gap: 20px;
}

.contenido_caracteristicas {
    padding-top: 30px;
    justify-items: auto;
    max-width: 650px;
}

.contenido_caracteristicas h3 {
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #150e61;
  margin-bottom: 15px; /* Espacio entre el título y el párrafo */
}

.contenido_caracteristicas p {
    font-size: medium;
}


.caja_contacto {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contenido_contacto {
    padding-top: 30px;
    justify-items: auto;
    max-width: 650px;
}

.contenido_contacto h2 {
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #505050;
  margin-bottom: 15px; /* Espacio entre el título y el párrafo */
}

.contenido_contacto p {
    font-size: x-large;
}

.caja_contacto h3 {
    color: #150e61;
    font-size: xx-large;
    font-weight: bold;
}

